:root{
    --cor-cabecalho-inicial: #11ff00;
    --cor-cabecalho-final: #97b4b1;
    --cor-cabecalho-body: #0072989c;
    --cor-main: #fff;
    --cor-rodape: #9da2a0;
    --cor-letras-link: #ffffff;
    --cor-rodade: #2d2d2d;
    --cor-botao-cabecalho: #7c2626f6;    
    --cor-fundo-body: #c2c2c255;
    --cor-titulo-h3: #bb0101ae;
}
 