body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  width: 400px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

.aprovado {
  background-color: #4CAF50;
}

.reprovado {
  background-color: #E74C3C;
}
