@import url(cores.css);

:root{
    --cor-cabecalho-inicial: #670000;
    --cor-cabecalho-final: #b10000;
    --cor-fundo-body: #ffffff;
    --cor-main: #ffffff58;
    --cor-letras-link: #fdfdfd;
    --cor-botao-cabecalho:#dadadf46;
    --cor-rodade: #800000;
    --cor-tituli-h3: #970000;
}


body {
    background-color: var(--cor-fundo-body);
}

.receita-detalhe {
    max-width: 60vw;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.348);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgb(0, 0, 0);
    background-color: var(--cor-main);
}

.receita-detalhe h2 {
    color: hsl(0, 100%, 32%);
    text-align: center;
    font-size: 1.50em;
    margin-bottom: 20px;
}

.img-receita {
    display: block;
    width: 300px;
    margin: 10px auto;
    border-radius: 12px;
    height: auto;
}

.receita-detalhe h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: var(--cor-tituli-h3)
}

.receita-detalhe ul, .receita-detalhe ol {
    margin-left: 40px;
    line-height: 1.6;
}

footer {
    position: relative;
    width: 100%;
}
